*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* navbar */
.navbar{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
}

.navbar nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s ease;
}

.navbar nav a:hover{
    color: #6c63ff;
}

.nav-btn{
    padding: 10px 20px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
}

/* hover animation */
.nav-btn:hover{
    transform: scale(1.07);
    background: #857cff;
}

/* hero */
.hero{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 700;
}

.hero-text p{
    margin: 20px 0;
    font-size: 18px;
    color: #555;
}

.primary-btn{
    padding: 14px 28px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}

.primary-btn:hover{
    transform: scale(1.08);
    background: #857cff;
}

.hero-img img{
    width: 100%;
    border-radius: 10px;
}

/* features */
.features{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature-box{
    width: 33%;
    background: #fafafa;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: .3s ease;
}

.feature-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.icon{
    width: 60px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    background: #eee;
    margin-top: 60px;
}

@media(max-width: 900px){
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-img img{
        max-width: 500px;
    }

    .features{
        flex-direction: column;
    }

    .feature-box{
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
}

@media(max-width: 600px){
    .navbar{
        flex-direction: column;
        text-align: center;
    }

    .navbar nav a{
        display: inline-block;
        margin: 10px;
    }

    .hero-text h1{
        font-size: 32px;
    }

    .hero{
        padding: 20px;
    }
}
